.testimonial { 
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0 18px 1px;
	margin-bottom: 98px;
	
	@mixin atLarge { padding: 0 1.875rem 1px; margin-bottom: 0; }
	&--last { margin-bottom: 0; }

	&__photo { 
		margin: 0 auto -80px;
		border-radius: 80px;
		overflow: hidden; 
		width: 160px; 
		height: 160px; 
		position: relative;
		top: -80px;
		border: 5px solid rgba(255, 255, 255, 0.8);
	}
	&__title { 
		text-align: center; 
		color: $mainBlue; 
		font-size: 1.5rem; 
		font-weight: 500; 
		margin: 0; 
	}
	&__subtitle { 
		text-align: center; 
		color: $mainOrange; 
		font-size: .9375rem; 
		font-weight: 400; 
		margin: .25rem 0 1rem; 
	}
}